.header{
    width:100%;
    display:flex;
    background-color: rgb(29,29,29);
    padding: 1.5rem 0;
    color:white;
    font-size: 3rem;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 700;
    &__navbar{
        flex:0.4;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
       
    }

}

.mobile__menu{
    display:none;
}
.nav-link{
    list-style: none;
    a{
        font-size: 1.8rem;
        margin-left: 1rem;
        &:hover,
        &:focus{
            cursor: pointer;
            color:crimson;
            transition: all .3s ease;
        }
    }
}
@media (max-width:960px){
    .header{
        position: relative;
        &__navbar{
        flex-direction: column;
        width:100%;
        position: absolute;
        top:4.6rem;
        left:-100%;
        opacity:1;
        transition:all .5s ease;
        padding: 1rem;
        .nav-link{
            width:100%;
            text-align:center;
            display:table;
            font-size: 3rem;
        }
            
    }
}
.header__navbar.active__menu {
    left: 0;
    background-color: rgb(29, 29, 29);
    opacity: 1;
    transition: all .5s ease;
    z-index: 2;
}
    .mobile__menu{
        position:absolute;
        display:block;
        top:0;
        right:0;
        transform: translate(-100%,60%);
        font-size: 2rem;
        cursor: pointer;
        
    }
    
}